<!--<nav class="navbar-inverse navHead navbar-fixed-top">-->
    <!--<div class="container-fluid">-->
            <!--<div class="col-xs-6 navbar-header navHead">-->
                <!--<p class="navbar-text pull-left">-->
                    <!--<a href="#/admin/listUsers" class="navbar-link1" ng-show="model.role  =='ADMIN'">-->
                        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                    <!--</a>-->
                <!--</p>-->
                <!--<label class="navbar-brandEdited">Profile</label>-->
            <!--</div>-->
            <!--<div class="col-xs-6">-->
                <!--<p class="navbar-text pull-right">-->
                    <!--<a ng-click="model.updateUser()" class="navbar-link1">-->
                        <!--<span class="glyphicon glyphicon-ok"></span>-->
                    <!--</a>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
<!--</nav>-->
<nav class="navbar-inverse navHead navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navHead ">
            <a class="navbar-brand inactiveLink">Profile</a>
        </div>
        </div>
    </nav>

<br>
<br>
<br>
<br>

<div class="container">

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email"
                   placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name"
                   placeholder="Wonderland">
        </div>
    </form>
    <a class="btn btn-primary btn-block" ng-show="model.user.role  =='ADMIN' && model.role  !='ADMIN'"
       href="#admin">Admin page</a>
    <a class="btn btn-primary btn-block" ng-show="model.role  =='ADMIN'"
       ng-click="model.makeAdmin(model.user)">Make Admin</a>
    <a class="btn btn-primary btn-block" ng-show="model.role  =='ADMIN'"
       ng-click="model.removeUser(model.user)">RemoveUser</a>
    <a class="btn btn-primary btn-block" ng-show="model.role  !='ADMIN'"
       href="#/user/{{model.user._id}}/sources">My Sources</a>

    <a class="btn btn-danger  btn-block"
       ng-click="model.logout()" ng-show="model.role  !='ADMIN'">Logout</a>
    <a class="btn btn-warning  btn-block" ng-show="model.role  !='ADMIN'"
       ng-click="model.unregisterUser()">Unregister</a>
    {{mode.user}}
</div>
<br><br><br><br>
<nav class="navbar-inverse navHead navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <p class="navbar-text pull-right">
                    <a href="#/user/" class="navbar-link1">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>


