<nav class="navbar-inverse navHead navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navHead ">
            <a class="navbar-brand inactiveLink">Register</a>
        </div>
    </div>
</nav>

<br><br><br>
<br>
<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <h1></h1>
    <input ng-model="model.username" type="text"
           class="form-control" placeholder="username"/>
    <input ng-model="model.password" type="password"
           class="form-control" placeholder="password"/>
    <input ng-model="model.verifyPassword" type="password"
           class="form-control" placeholder="verify password"/>
    <a class="btn btn-primary btn-block"
        ng-click="model.register(model.username,model.password,model.verifyPassword)">Register</a>
    <a class="btn btn-danger btn-block" href="#/login">Cancel</a>
</div>