<nav class="navbar navHead navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <label class="navbar-brandEdited">Widgets</label>
            </div>
            <div class="col-xs-2">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"
                       class="navbar-link1">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<div wam-sortable class="container-fluid">
    <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgets">
        <!--{{widget}}-->
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}"
           class="pull-right">
                <span class="glyphicon glyphicon-cog glyphicon-padding1">
                </span></a>

        <div ng-switch="widget.size" ng-switch-when="HEADER">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
        </div>
        <div ng-switch-when="IMAGE">
            <img class='img-responsive' ng-src="{{widget.url}}" width="{{widget.width}}"/>
        </div>
        <div ng-switch-when="YOUTUBE" class="col-xs-12 embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-ite well"
                    width="560" height="315"
                    ng-src="{{model.checkSafeYoutube(widget.url)}}"
                    frameborder="1" allowfullscreen="">
            </iframe>
        </div>
        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)"></div>
    </div>
</div>
<br>
<br>
<br>
<nav class="navbar navHead navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-6">
            </div>

            <div class="col-xs-6">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}" class="navbar-link1">
                       <span class="glyphicon glyphicon-user">
                           </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>