<nav class="navbar navHead navbar-fixed-top">
    <div class="container-fluid">
            <div class="row">
            <div class="col-xs-10 ">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                       class="navbar-link1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </p>
                <label class="navbar-brandEdited">Widget Edit</label>
            </div>
            <div class="col-xs-2 ">
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget(model.widget)"
                       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                       class="navbar-link1">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container-fluid">

      <!--<div ng-include="'views/widget/widget-'+model.widget.widgetType+'.view.client.html'"></div>-->
    <div ng-switch="model.widget.type">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/widget-header.view.client.html'" />
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/widget-image.view.client.html'" />
        </div>
        <div ng-switch-when="YOUTUBE" class="youtube-widget">
            <ng-include src="'views/widget/widget-youtube.view.client.html'" />
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/widget-html-edit.view.client.html'" />
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'views/widget/widget-text-edit.view.client.html'" />
        </div>
        <div ng-switch-default>
            <div class="alert alert-danger" role="alert">
                Cannot edit this widget
            </div>
        </div>
    </div>
</div>


<br><br><br>
<br>
<nav class="navbar navHead navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-6">
            </div>

            <div class="col-xs-6">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}" class="navbar-link1">
                       <span class="glyphicon glyphicon-user">
                           </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
