<nav class="navbar navHead navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link1">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
                    </a>
                </p>
                <label class="navbar-brandEdited">
                    Choose Widget
                </label>
            </div>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container-fluid">
    <div class="col-xs-12">
        <li class="list-group-item"><a ng-click="model.createWidget('Header')">
            Header
        </a>
        </li>
        <li class="list-group-item"><a ng-click="model.createWidget('Image')">Image
        </a>
        </li>

        <li class="list-group-item"><a ng-click="model.createWidget('YouTube')">YouTube
        </a>
        </li>
    </div>
</div>
<br>
<br>
<nav class="navbar navHead navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-6">
            </div>

            <div class="col-xs-6">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}" class="navbar-link1">
                       <span class="glyphicon glyphicon-user">
                           </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
